.user-form {
  width: 358px;
  display: flex;
  flex-direction: column;
}
.user-form > * {
  margin-top: 30px;
}
.user-form > *:first-child,
.user-form > *:last-child {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .user-form {
    width: 100%;
  }
  .user-form > *:first-child {
    margin-top: 75px;
  }
  .user-form > *:last-child {
    margin-top: 45px;
  }
}
