.profile__button_move_edit {
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .profile__button_move_edit {
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}
