.popup__container {
  position: relative;
  padding: 34px 36px 37px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
    width: 100%;
    max-width: 282px;
    height: 322px;
  }
}
